body {
  height: 100vh;
  margin: 0;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.hero,
.footer,
.header {
  background-color: #1f2937;
  color: white;
}

.logo {
  width: 75px;
  height: 50px;
  background-color: #1f2937;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 200px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.quote-container {
  background-color: #e5e7eb;
}

.quote {
  margin: 0 auto;
  width: 800px;
}

.quote-text {
  display: flex;
  flex-direction: column;
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
  padding: 100px;
}

.quote-origin {
  font-size: 12px;
  text-align: end;
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: white;
}

.call-to-action.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.call-to-action.box {
  width: 50%;
  height: 30%;
  color: white;
  background-color: #3882f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  border-radius: 25px;
}

.call-to-action.box .text {
  display: flex;
  flex-direction: column;
}

.call-to-action.box .text span:nth-of-type(1) {
  font-weight: bold;
  font-size: 20px;
}

.call-to-action.box .text span:nth-of-type(2) {
  font-size: 16px;
}

.call-to-action.box button {
  border: 2px solid white;
  color: white;
  background-color: #3882f6;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: bold;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.info ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 125px;
}

.info ul li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

img {
  background: transparent;
  height: 250px;
  width: 150px;
}
